version: '3'
services:

    mysql:
        restart: always
        image: mysql:latest
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: db
        volumes:
            - ./mysql/db/CreateDatabase.sql:/docker-entrypoint-initdb.d/CreateDatabase.sql
        healthcheck:
            test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
            interval: 30s
            timeout: 10s
            retries: 5

    pythonapp:
        build: ./python/
        command: sh -c "python3 scripts/ingestion.py"
        environment:
            URL: https://randomuser.me/api/?results=10
        depends_on:
            mysql:
                condition: service_healthy
